.contacts {
  display: flex;

  &__text {
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #e4e5ea;
    text-align: end;
  }

  &__social {
    display: flex;
  }

  li:last-of-type {
    display: none;
    visibility: hidden;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 122px;
    li:last-of-type {
      display: block;
      visibility: visible;
    }
  }
}

.contacts_top {
  width: 312px;
  max-height: 19px;
  justify-content: space-between;
  align-items: center;
}

.contacts_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  li:last-of-type {
    display: block;
    visibility: visible;
  }
}

.contacts__social_bottom {
  width: 82px;
  margin: 21px 0 20px;
}
